{% extends "base.html" %}

{% block content %}
  {% if name %}
    <p>- New artist created: {{name}}</p>
    <h2><strong>{{name}}</strong></h2>
    <h3><strong>{{hometown}}</strong></h3>
    <p>{{description}}</p>
  {% else %}
  <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
          {{ form.name.label }}<br>
          {{ form.name(size=32) }}<br>
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.hometown.label }}<br>
          {{ form.hometown(size=32) }}<br>
          {% for error in form.hometown.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p> {{ form.description.label }}</p>
      {{ form.description(size=150) }}<br>
      <p>{{ form.submit() }}</p>
  </form>
  {% endif %}
{% endblock %}