{% extends "base.html" %}

{% block app_content %}
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
<h1>Create a New Artist</h1>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
        </p>
        <p>
            {{ form.hometown.label }}<br>
            {{ form.hometown(size=32) }}<br>
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols = "100", rows = "15") }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}